body {
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 1200px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  #map {
    height: 500px;
    margin-top: 20px;
  }


/* Horizontal scrolling for hourly forecast */
#hourlyForecast {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }
  
  #hourlyForecast .card {
    min-width: 120px; /* Ensure each card has a fixed width */
  }
  
/* Styles for 3-Day Forecast */
#forecastWeather .card {
    margin-bottom: 20px;
  }


/* Styles for 7-Day Weather History */
#historyWeather {
    margin-top: 20px;
  }
  
  .history-card {
    margin-right: 10px; /* Spacing between history cards */
  }
  